// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/vendor/material-design-icons/iconMaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('iconMaterialIcons'),
    local('iconMaterialIcons-Regular'),
    url(../fonts/vendor/material-design-icons/iconMaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/vendor/material-design-icons/iconMaterialIcons-Regular.woff) format('woff'),
    url(../fonts/vendor/material-design-icons/iconMaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Source sans pro', sans-serif;
}
h1, h2, h3, h4 {
	font-family: 'Source serif pro', serif;
}
section a {
  color: #487294;
  text-decoration: none;
  transition: all linear .2s;
  &:hover {
  	color: #2f4a61;
		text-decoration: none;
  }
  &:not(.btn) {
  	border-bottom: .9px solid #a3bdd2;
    &:hover {
    	border-bottom: .9px solid #2f4a61;
    }
  }
}

section p {
	font-size: 1.125rem;
}

.btn {
	background-color: #487294;
	border-color: #487294;
	transition: all 0.2s ease-in-out;
	border-radius: 0;
	&:hover {
		background-color: #2f4a61;
		border-color: #2f4a61;
		opacity: 1;
	}
}
header {
	.banner {
		// height: 300px;
		// border-bottom: solid 3px #16232d;
		// background: url('../images/banner.jpg') 50% 50% no-repeat;
		height: 200px;
		background-size: cover;
		background-image: url('https://projet.biblissima.fr/sites/default/files/header_images/bge-lat0016_012v_header.jpg');
		background-position: center -265px;
		background-attachment: fixed;
		display: flex;
		justify-content: center;
		
		.site-identity {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-family: "Source Serif Pro",Georgia,Times,serif;

			.navbar-brand {
				font-size: 4rem;
				font-weight: 600;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.65);
				color: #fff;
				margin-right: 0;
			}
			.site-name-slogan {
				font-size: 2rem;
				font-weight: 600;
				color: #fff;
				text-shadow: 1px 2px 3px rgba(0,0,0,0.65);
			}
		}
	}

	.nav-link {
	  display: block;
	  padding: 0.5rem 1rem;
	  color: #fff;
	  font-size: 1.25rem;
	  padding: .75rem !important;
	  &:hover {
	  	background-color: #2f4b60 !important;
	  }
	}
}
.jumbotron {
	padding: 3rem 2rem;
}
.introduction {
	.btn { 
  	margin: 5px 15px 0px 0px;
  }
  .intro-links {
  	h4 {
    	line-height: 1.5;
    }
    ul {
    	margin: 0;
    	padding-left: 0px;
    	list-style: none;
    }
    a:hover {
			text-decoration: none;
    }
    a {
    	display: inline-block;
    	margin-bottom: .5rem;
    	font-size: 1.15rem;
    }
	}
}
a .fa {
	vertical-align: baseline;
  margin-right: 4px;
}
.fa-envelope-o::before {
    content: "\f003";
}
section {
	padding: 20px 0 40px 0;
	
	h1 {
		position: relative;
		border-bottom: solid 3px #436a88;
		margin-bottom: 3.5rem;
		.triangle-down {
			position: absolute;
			right: 0;bottom: -18px;
			width: 0;height: 0;
			border-style: solid;
			border-width: 15px 15px 0 15px;
			border-color: #436a88 transparent transparent transparent;
			-webkit-transform:rotate(360deg)
		}
	}
	&.reverse {
		.triangle-down {
			left: 0;
		}
		.img-wrapper {
			left: 3px;
			right: 0;
		}
	} 

	.img-wrapper {
		position: relative;
		right: 3px; // Offset the right triangle border
		img {
			width: 100%;
			position: relative;
			z-index: 10;
		}
		.triangle-angle-bottom-left {
			position: absolute;
			bottom: -3px; left: -3px;
			width: 0; height: 0;
			border-style: solid;
			border-width: 30px 0 0 30px;
			border-color: transparent transparent transparent #436a88;
			-webkit-transform:rotate(360deg);
			z-index:1;
		}
		.triangle-angle-top-right {
			position: absolute;
			top: -3px; right: -3px;
			width: 0px; height: 0px;
			border-style: solid;
			border-width: 0 30px 30px 0;
			border-color: transparent #436a88 transparent transparent;	
			-webkit-transform:rotate(360deg);
			z-index:1;
		}
	}
}
.content-bottom {
	background: #485159;
  color: #ddd;
  padding-top: 25px;
  .col-sm-12 {
    padding-bottom: 0;
	}
}
.footer {
	background: #1a262f;
    margin-top: 0;
    padding: 35px 0;
    border-top: none;
    font-size: .867em;
    .nav {
    	display: block;
    	li {
    		display: block;
    	}
    	a {
		    display: inline;
	    	color: #9c9e9f;
	    	text-decoration: none;
	    }
    }
    .region-footer {
    	display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
    }
    .logo-ia {
    	a{
    		display: inline-block;
		    width: 83px;
		    height: 83px;
		    background: url(../images/logo-ia.png) left no-repeat;
		    margin-right: 10px;
		    vertical-align: middle;
		    filter: grayscale(100%);
    	}
    	p {
	    	display: inline-block;
		    max-width: 190px;
		    vertical-align: middle;
		}
    }
}
.block-footer {
	border-left: 1px solid #5f686e;
  margin: 5px 0 10px;
  padding: 0 10px;
  color: #9c9e9f;
  min-height: 105px;
}
